<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TravelUp: Errore</title>
        <link rel="icon" type="image/x-icon" href="assets/favicons/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
        <link rel="manifest" href="assets/favicons/site.webmanifest">

        <link rel="stylesheet" href="/css/aos.css"> <!-- AOS CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/all.min.css"> <!-- FontAwesome -->
        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>

        <!-- inizio sezione header -->

        <header>

            <div class="container">

                <a class="navbar-brand logo" href="/">
                    <img src="/assets/images/logoleft.png" style="max-width: 175px; height: auto;" alt="">
                </a>

                <nav class="nav">
                    <ul>
                    </ul>
                </nav>

                <div class="fas fa-bars"></div>

            </div>

        </header>

        <!-- fine sezione header -->

        <!-- inizio sezione home -->

        <section class="home" id="home">

            <div class="container">

                <div class="row min-vh-100 align-items-center text-center text-md-left">

                    <div class="col-md-6 pr-md-5" data-aos="fade-right">
                        <img src="/assets/images/error.svg" width="100%" alt="">
                    </div>

                    <div class="col-md-6 pl-md-5 content" data-aos="fade-left">
                        <h1><span>Errore</span><span></span></h1>
                        <h3>Si è verificato un problema</h3>
                        <a href="/"><button class="button">Torna alla home</button></a>
                    </div>

                </div>

            </div>

        </section>

        <!-- fine sezione home -->

        <!-- inizio sezione footer  -->

        <section class="footer">

            <h1 class="credit text-center mx-auto homecredit">© 2022 TravelUp ®<span></span><br>Tutti i diritti
                riservati.<br><a href="https://github.com/TUEngineers/TravelUp">github.com/TUEngineers/TravelUp</a></h1>

        </section>

        <!-- fine sezione footer -->

        <script src="/js/aos.js"></script> <!-- AOS JS -->
        <script src="/js/bootstrap.bundle.min.js"></script> <!-- Bootstrap JS -->
        <script src="/js/jquery.min.js"></script> <!-- jQuery -->
        <script src="/js/main.js"></script>

        <script>
            AOS.init({
                duration: 1000,
                delay: 10
            });
        </script>

    </body>

    </html>
    ||||||| merged common ancestors
    =======
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TravelUp: Errore</title>
        <link rel="icon" type="image/x-icon" href="assets/favicons/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
        <link rel="manifest" href="assets/favicons/site.webmanifest">

        <link rel="stylesheet" href="/css/aos.css"> <!-- AOS CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/all.min.css"> <!-- FontAwesome -->
        <link rel="stylesheet" href="/css/main.css">

    </head>

    <body>

        <!-- inizio sezione header -->

        <header data-aos="fade-down">

            <div class="container">

                <a class="navbar-brand logo" href="/">
                    <img src="/assets/images/logoleft.png" style="max-width: 175px; height: auto;" alt="">
                </a>

                <nav class="nav">
                    <ul>
                    </ul>
                </nav>

                <div class="fas fa-bars"></div>

            </div>

        </header>

        <!-- fine sezione header -->

        <!-- inizio sezione home -->

        <section class="home" id="home">

            <div class="container">

                <div class="row min-vh-100 align-items-center text-center text-md-left">

                    <div class="col-md-6 pr-md-5" data-aos="fade-right">
                        <img src="/assets/images/error.svg" width="100%" alt="">
                    </div>

                    <div class="col-md-6 pl-md-5 content" data-aos="fade-left">
                        <h1><span>Errore</span><span></span></h1>
                        <h3>Si è verificato un problema</h3>
                        <a href="/"><button class="button">Torna alla home</button></a>
                    </div>

                </div>

            </div>

        </section>

        <!-- fine sezione home -->

        <!-- inizio sezione footer  -->

        <section class="footer">

            <h1 class="credit text-center mx-auto homecredit">© 2022 TravelUp ®<span></span><br>Tutti i diritti
                riservati.<br><a href="https://github.com/TUEngineers/TravelUp">github.com/TUEngineers/TravelUp</a></h1>

        </section>

        <!-- fine sezione footer -->

        <script src="/js/aos.js"></script> <!-- AOS JS -->
        <script src="/js/bootstrap.bundle.min.js"></script> <!-- Bootstrap JS -->
        <script src="/js/jquery.min.js"></script> <!-- jQuery -->
        <script src="/js/main.js"></script>

    </body>

    </html>
    >>>>>>> 59d7ff3d5d97ec0753b099ea716323208025fced