@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root {
  --bluChiaro: #0c8de0;
  --bluScuro: hsl(204, 98%, 23%);
  --selected: hsl(205, 100%, 27%);
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none !important;
  font-weight: 400;
}

.home {
  font-size: 2em;

}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  z-index: 1000;

}

.header-active {
  background: #fff;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
  padding: .5rem 1rem;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--bluScuro);
}

header a:hover {
  color: var(--bluChiaro);
}

header .nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .nav ul li {
  margin: 0 1rem;
}

header .nav ul li a {
  font-size: 2rem;
}

footer {
  font-size: 62.5%;
  overflow-x: hidden;
}

.footer {
  background: var(--bluScuro);
  margin-top: -0.1rem;
}

.footer p {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
}

.footer a {
  font-size: 2rem;
  color: #ccc;
  display: block;
}

.footer h3 {
  color: #fff;
  font-size: 3rem;
}

.footer a:hover {
  color: var(--bluChiaro);
}

.footer .credit {
  color: #fff;
  width: 80%;
  margin: 0;
  padding: 2rem 0;
  padding-bottom: 4rem;
  border-top: .1rem solid #ccc;
}

.footer .credit span {
  color: var(--bluChiaro);
}

div .space {
  height: 2.5rem;
}

div .itinerari {
  display: flex;
  height: 80rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div .itinerari .gestioneItinerari {
  width: 35%;
  height: 100%;
}

div .itinerari .gestioneItinerari .tappeItinerario {
  height: 75%;
}

div .itinerari .interesse {
  width: 65%;
  height: 92.5%;
}

div .img-thumb {
  background-color: aquamarine;
  height: 100%;
  width: 20%;
}

div .informazioni {
  display: none;
}

div .tappa {
  width: 100%;
}

ul .infotappe {
  height: 100%;
}

li .element-view {
  height: 10%;
}

@media (max-width: 992px) {
  div .itinerari .gestioneItinerari {
    width: 100%;
    height: 50%;
    padding-bottom: 2cm;
  }

  div .itinerari .interesse {
    width: 100%;
    height: 50%;
    padding-bottom: 1.5cm;
  }

  .descriptionBox {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .titoloTappa {
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}


.button {
  height: 3.5rem;
  width: 100%;
  background: var(--bluChiaro);
  color: #fff;
  font-size: 1.7rem;
  border-radius: .5rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 1rem 0;
}

.button::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bluScuro);
  z-index: -1;
  transition: .2s linear;
}

.selected {
  background-color: var(--selected);
}

.scrollInfo {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  scrollbar-color: var(--bluChiaro);
  scrollbar-width: thin;
  background-color: white;
}

.descriptionBox {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.titoloTappa {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}